* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	width: 100vw;
	height: 100vh;
	background-color: rgb(62, 62, 62);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
  }
  
  .wrapper {
	max-width: 50%;
	width: 100%;
	max-height: 60%;
	min-width: 32rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	transition: 0.5s;
  }
  
  @media screen and (max-width: 467px) {
	.wrapper {
	  min-width: 1rem;
	  max-width: 90%;
	  width: 100%;
	  margin: 0 1rem;
	  height: auto;
	}
  }
  
  .slider {
	background-color: rgb(68, 68, 68);
	width: 400%;
	height: 90%; 
	display: flex;
  }
  
  @media screen and (max-width: 467px) {
	.slider {
	  max-height: 80%;
	}
  }
  
  .sld {
	width: 25%;
	transition: 2s;
	display: flex;
  }
  
  img {
	object-fit: cover;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
  }
  
  .navigation {
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  
  @media screen and (max-width: 467px) {
	.navigation {
	  flex-direction: column-reverse;
	  justify-content: space-evenly;
	  height: 20%;
	}
  }
  
  .text-container {
	width: 70%;
	overflow: hidden;
  }
  
  @media screen and (max-width: 467px) {
	.text-container {
	  width: 100%;
	}
  }
  
  .text {
	width: 400%;
	display: flex;
	overflow: hidden;
  }
  
  .text-content {
	width: 25%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.3rem;
	color: #fff;
	transition: 1s;
  }
  
  @media screen and (max-width: 467px) {
	.text-content {
	  font-size: 1rem;
	}
  }
  
  .buttons {
	max-width: 9rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  
  @media screen and (max-width: 467px) {
	.text-container {
	  max-width: 100%;
	}
  }
  
  label {
	background-color: transparent;
	height: 2rem;
	width: 2rem;
	transition: ease-in-out 0.3s;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .button {
	height: 1rem;
	width: 1rem;
	background-color: white;
	border-radius: 50%;
	transition: ease-in-out 0.3s;
  }
  
  label:hover .button {
	background-color: rgb(51, 43, 116);
	transform: scale(1.2);
	box-shadow: 0em 0em 0.2rem black;
  }
  
  label:active .button {
	transform: scale(0.8);
  }
  
  input[name="btn-radio"] {
	visibility: hidden;
	height: 0%;
	width: 0%;
  }
  
  #r1:checked ~ .navigation > .buttons > label[for="r1"] > .button,
  #r2:checked ~ .navigation > .buttons > label[for="r2"] > .button,
  #r3:checked ~ .navigation > .buttons > label[for="r3"] > .button,
  #r4:checked ~ .navigation > .buttons > label[for="r4"] > .button {
	background-color: rgb(81, 54, 163);
	transform: scale(1.15);
  }
  
  #r1:checked ~ .slider > .s1 {
	margin-left: 0;
  }
  #r2:checked ~ .slider > .s1 {
	margin-left: -25%;
  }
  #r3:checked ~ .slider > .s1 {
	margin-left: -50%;
  }
  #r4:checked ~ .slider > .s1 {
	margin-left: -75%;
  }
  
  #r1:checked ~ .navigation > .text-container > .text > .txt {
	margin-left: 0;
  }
  #r2:checked ~ .navigation > .text-container > .text > .txt {
	margin-left: -25%;
  }
  #r3:checked ~ .navigation > .text-container > .text > .txt {
	margin-left: -50%;
  }
  #r4:checked ~ .navigation > .text-container > .text > .txt {
	margin-left: -75%;
  }